
/****** Object:  Table [dbo].[SYS_DICTIONARY]    Script Date: 03/17/2010 16:23:19 ******/
DECLARE @SID INT
DECLARE @DICID INT
DECLARE @PARENTID INT
SELECT @SID=ISNULL(MAX(ID),1000000000)+1 FROM SYS_DICTIONARY WHERE ID LIKE '10%'
SELECT @DICID=ISNULL(MAX(DICTIONARYID),1000000000)+1 FROM SYS_DICTIONARY WHERE DICTIONARYID LIKE '10%'
SET @PARENTID=@DICID

--Parent record
INSERT [dbo].[SYS_DICTIONARY] ([ID], [DICTIONARYID], [PARENTID], [DICTIONARYTYPE], [DICTIONARYTEXT], [VALUESID], [LEVELID], [ITEM_POST], [TOOLTIPTEXT], [LINK], [DESCRIPTIONID], [UPDATE_USERID], [UPDATE_TIME], [CREATE_USERID], [CREATE_TIME], [STATEID]) 
VALUES (@SID, @DICID, -1, -1, N'Contract Period', N'-1', 1, 14, N'Contract Period', N'', N'Contract Period', 14, GETDATE(), 14, GETDATE(), 1)

--Sub record
SET @SID=@SID+1
SET @DICID=@DICID+1
INSERT [dbo].[SYS_DICTIONARY] ([ID], [DICTIONARYID], [PARENTID], [DICTIONARYTYPE], [DICTIONARYTEXT], [VALUESID], [LEVELID], [ITEM_POST], [TOOLTIPTEXT], [LINK], [DESCRIPTIONID], [UPDATE_USERID], [UPDATE_TIME], [CREATE_USERID], [CREATE_TIME], [STATEID]) 
VALUES (@SID, @DICID, @PARENTID, 12039, N'9', N'9', 2, 0, N'9 months', N'', N'Contract Period', 14, GETDATE(), 14, GETDATE(), 1)
SET @SID=@SID+1
SET @DICID=@DICID+1
INSERT [dbo].[SYS_DICTIONARY] ([ID], [DICTIONARYID], [PARENTID], [DICTIONARYTYPE], [DICTIONARYTEXT], [VALUESID], [LEVELID], [ITEM_POST], [TOOLTIPTEXT], [LINK], [DESCRIPTIONID], [UPDATE_USERID], [UPDATE_TIME], [CREATE_USERID], [CREATE_TIME], [STATEID]) 
VALUES (@SID, @DICID, @PARENTID, 12039, N'18', N'18', 2, 0, N'18 months', N'', N'Contract Period', 14, GETDATE(), 14, GETDATE(), 1)
